@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 200;
    src: local('SF UI Display Thin'), url('./sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    src: local('SF UI Display Light'), url('./sf-ui-display-light-58646b33e0551.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    src: local('SF UI Display Semibold'), url('./sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}

@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    src: local('SF UI Display Bold'), url('./sf-ui-display-bold-58646a511e3d9.woff') format('woff');
    }